<div data-ng-controller="dashboardController">

	<div class="row">
		<div class="span12">
			<ul class="nav nav-pills">
				<li data-ng-repeat="tab in nav.primary.index.order" class="well" data-ng-class="{active: tab.name == nav.primary.current.name}">
					<a href="#/{{tab.name}}">{{tab.label}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<ul class="nav nav-pills">
				<li data-ng-repeat="tab in nav.secondary.index.order" class="well" data-ng-class="{active: tab.name == nav.secondary.current.name}">
					<a href="#/{{nav.primary.current.name}}/{{tab.name}}">{{tab.label}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="container" data-ng-include="nav.primary.current.templateUrl"></div>
		</div>
	</div>
</div>