<style>
	.gridster > ul > li {
		list-style:none;
		position:absolute;
		box-sizing: border-box;
	}
	.preview-holder {z-index:-1;}
	.dragging.player {z-index:1;}
	.panel-blue-single {color:white;background-image:url("module/dashboard/images/panel-blue-single.jpg");}
	.panel-blue-double {color:white;background-image:url("module/dashboard/images/panel-blue-double.jpg");}
	.panel-yellow-single {background-image:url("module/dashboard/images/panel-yellow-single.jpg");}
	.panel-yellow-double-person {background-image:url("module/dashboard/images/panel-yellow-double-person.jpg");}

	.border {border: solid 1px #dddddd;}

	.chart {height:200px;}


	.right-column, .bottom , .symbol {position:absolute;}

	.arrow-down-red, .arrow-up-green {border-color:transparent;border-style:solid;width:0;height:0;top:55px;left:28px;border-width: 0 13px;}
	.arrow-down-red {border-top-width: 20px; border-top-color:#d00;}
	.arrow-up-green {border-bottom-width: 20px; border-bottom-color:#0a0;}

	.title {margin: 10px;}
	.right-column {left: 85px;width:100px;text-align:center;top:48px;}
	.bottom {bottom: 0;width:100%;height:100px;text-align:center;}
	.bottom .single-number {position:absolute;top:50%;height:inherit;width:inherit;margin-top: -50px;font-size:50pt;}
	[data-yoa-single-panel] .middle {text-align:center;padding:11px;}
	[data-yoa-single-panel] .bottom {left:10px;width:80%;height:90px;bottom:10px;}
	[data-yoa-double-panel] .glyphicon {font-size:30px;top:8px;left:30px;}
	
	[data-yoa-chart] {height:inherit;}
</style>

<div class="row-fluid" data-ng-controller="dashboardController">
    <h2>Accounts Dashboard</h2>
	<div class="span12">
		<script type="text/javascript">
			$(function(){ //DOM Ready

				$(".gridster ul").gridster({
					widget_margins: [10, 10],
					widget_base_dimensions: [207, 206]
				});
			});
		</script>
		<div class="gridster">
			<ul>
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="Account Growth" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="10%" 
						data-bottom="-14%"
					></div>
				</li>
				<li data-row="1" data-col="2" data-sizex="1" data-sizey="1" class="panel-yellow-single">
					<div data-yoa-single-panel 
						data-title="Revenue" 
						data-middle="&#8358;868,972" 
						data-bottom="{{dataSummary}}"
						data-chart-name="revenuePanel"
					></div>
				</li>
				<li data-row="1" data-col="3" data-sizex="1" data-sizey="1" class="panel-blue-single">
					<div data-yoa-single-panel 
						data-title="Policies Sold" 
						data-middle="1,692" 
						data-bottom="{{dataSummary}}"
						data-chart-name="policiesSold"
					></div>
				</li>
				<li data-row="1" data-col="4" data-sizex="2" data-sizey="2" class="border background-white"><div data-yoa-chart-bar></div></li>

				<li data-row="2" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel 
						data-title="Revenue Growth" 
						data-symbol-class="symbol arrow-up-green" 
						data-right="11%" 
						data-bottom="23%"
					></div>
				</li>
				<li data-row="2" data-col="2" data-sizex="2" data-sizey="1" class="border background-white" data-ng-include="'module/dashboard/partial/table1.html'"></li>
				<li data-row="3" data-col="2" data-sizex="2" data-sizey="1" class="border background-white" data-ng-include="'module/dashboard/partial/table1.html'"></li>

				<li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double">
					<div data-yoa-double-panel 
						data-title="Policies Sold Growth" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="11%" 
						data-bottom="23%"
					></div>
				</li>

				<li data-row="3" data-col="4" data-sizex="2" data-sizey="1" class="border background-white"><div data-yoa-chart-pie class="chart"></div></li>

				<li data-row="4" data-col="1" data-sizex="3" data-sizey="2" class="border background-white">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Account</th>
								<th>Executive</th>
								<th>Type</th>
								<th># Opportunities</th>
								<th># Active Policies</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Alpha Energy</td>
								<td>Alfred</td>
								<td>Corporate</td>
								<td>12</td>
								<td>5</td>
							</tr>
							<tr>
								<td>Beta Petroleum</td>
								<td>Bertram</td>
								<td>Corporate</td>
								<td>6</td>
								<td>5</td>
							</tr>
							<tr>
								<td>Cincinatti Foodstuffs</td>
								<td>Charlotte</td>
								<td>Corporate</td>
								<td>5</td>
								<td>87</td>
							</tr>
						</tbody>
					</table>
				</li>

				<li data-row="4" data-col="4" data-sizex="1" data-sizey="1" class="panel-blue-double">
					<div data-yoa-double-panel 
						data-title="Sum Insured" 
						data-symbol-class="symbol arrow-up-green" 
						data-right="50%" 
						data-bottom="39%"
					></div>
				</li>
				<li data-row="4" data-col="5" data-sizex="1" data-sizey="1" class="panel-yellow-double-person">
					<div data-yoa-double-panel 
						data-title="Active Agents" 
						data-symbol-class="" 
						data-right="23%" 
						data-bottom="49%"
					></div>
				</li>
				<li data-row="5" data-col="4" data-sizex="1" data-sizey="1" class="panel-blue-double">
					<div data-yoa-double-panel 
						data-title="# of Accounts" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="519" 
						data-bottom="581"
					></div>
				</li>
				<li data-row="5" data-col="5" data-sizex="1" data-sizey="1" class="panel-blue-double">
					<div data-yoa-double-panel 
						data-title="Active Opportunities" 
						data-symbol-class="symbol arrow-up-green" 
						data-right="23%" 
						data-bottom="35%"
					></div>
				</li>
				<li data-row="6" data-col="1" data-sizex="2" data-sizey="1" class="border background-white"><div data-yoa-chart data-chart-name="accountsByAge" style=""></div></li>
			</ul>
		</div>
	</div>
</div>