<link rel="stylesheet" href="module/dashboard/css/style.css"/>
<link rel="stylesheet" href="module/dashboard/css/layout.css"/>

<div class="row-fluid">
	<h2>{{nav.primary.current.label}} {{nav.secondary.current.label}} Dashboard</h2>
	<div class="span12">
		<div class="gridster">
			<ul data-yoa-gridster>
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Claims" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="405" 
						data-bottom="-19"
					></div>
				</li>
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Claims" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="405" 
						data-bottom="-19"
					></div>
				</li>
				<li data-row="1" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
