<link rel="stylesheet" href="module/dashboard/css/style.css"/>

<div class="row-fluid">
    <h2>Overview {{nav.secondary.current.label}} Dashboard</h2>
	<div class="span12">
		<script type="text/javascript">
			$(function(){ //DOM Ready

				//$(".gridster ul").gridster({
					//widget_margins: [10, 10],
					//widget_base_dimensions: [207, 206]
				//});
			});
		</script>
		<div class="gridster">
			<ul data-yoa-gridster>
				<li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Opportunities" 
						data-symbol-class="symbol arrow-up-green" 
						data-right="478" 
						data-bottom="+14"
					></div>
				</li>
				<li data-row="1" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame" data-chart-module="opportunities"></div>
				</li>

				<li data-row="3" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Accounts" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="38" 
						data-bottom="-1"
					></div>
				</li>
				<li data-row="3" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame" data-chart-module="accounts"></div>
				</li>

				<li data-row="5" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Contacts" 
						data-symbol-class="symbol arrow-up-green" 
						data-right="780" 
						data-bottom="+21"
					></div>
				</li>
				<li data-row="5" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame" data-chart-module="contacts"></div>
				</li>

				<li data-row="7" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Policies" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="639" 
						data-bottom="-7"
					></div>
				</li>
				<li data-row="7" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame" data-chart-module="policies"></div>
				</li>

				<li data-row="9" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Risks" 
						data-symbol-class="symbol arrow-up-green" 
						data-right="712" 
						data-bottom="+2"
					></div>
				</li>
				<li data-row="9" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame" data-chart-module="risks"></div>
				</li>

				<li data-row="11" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Claims" 
						data-symbol-class="symbol arrow-down-red" 
						data-right="405" 
						data-bottom="-19"
					></div>
				</li>
				<li data-row="11" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame" data-chart-module="claims"></div>
				</li>

				<li data-row="13" data-col="1" data-sizex="1" data-sizey="1" class="panel-blue-double text-white">
					<div data-yoa-double-panel=""
						data-title="# Insurers" 
						data-symbol-class="symbol arrow-up-green" 
						data-right="512" 
						data-bottom="+32"
					></div>
				</li>
				<li data-row="13" data-col="2" data-sizex="4" data-sizey="2" class="border background-white">
					<div data-yoa-chart data-chart-name="newRecordsByTimeFrame" data-chart-module="insurers"></div>
				</li>

			</ul>
		</div>
	</div>
</div>