.chart-bar {width:80px;}
.chart-bar .chart-bar-outer {
	width:50px;
	float:left;
}
.chart-bar .chart-bar-circle {
	border-style:solid;
	border-radius:100%;
	width:0px;
	height:0px;
}
.chart-bar .chart-bar-number {
	width:20px;
	float:left;
	overflow:hidden;
}
